.gradle/
customiSE/JSON-java/build/
calculator-agent/build/
customiSE/build/
fx-calculator/build/
fx-calculator-tests/build/
customiSE/nanohttpd-2.1.1/build/
customiSE/JSON-java/.classpath
customiSE/JSON-java/.project
customiSE/JSON-java/.settings/
customiSE/JSON-java/bin/
customiSE/JSON-java/.gitignore
calculator-agent/.classpath
calculator-agent/.project
calculator-agent/.settings/
calculator-agent/bin/
calculator-agent/.gitignore
customiSE/.classpath
customiSE/.project
customiSE/.settings/
customiSE/bin/
customiSE/.gitignore
fx-calculator/.classpath
fx-calculator/.project
fx-calculator/.settings/
fx-calculator/bin/
fx-calculator/.gitignore
customiSE/nanohttpd-2.1.1/.classpath
customiSE/nanohttpd-2.1.1/.project
customiSE/nanohttpd-2.1.1/.settings/
customiSE/nanohttpd-2.1.1/.gitignore
customiSE/nanohttpd-2.1.1/bin/
fx-calculator-tests/.classpath
fx-calculator-tests/.project
fx-calculator-tests/.settings/
fx-calculator-tests/bin/
fx-calculator-tests/.gitignore

